<nav class="navbar fixed-top navbar-dark bg-dark" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="/">Home</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    <div class="nav-item btn-group ml-3" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-light dropdown-toggle"
        aria-controls="dropdown-basic">
        {{currentUser.firstName}} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="profile">Profile</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </form>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="navbar-dark bg-dark text-center">
    <p style="color: whitesmoke;">
      © KL Identity Playground v0.1
    </p>
  </div>
</footer>
